#navbar{
	background-color: $color-brown;
	nav{
		padding: 0 3em;
 		margin: 0 25%;	
	}
	ul{
		text-decoration:none;
	}
	a{
		color: $color-brown-detils;
	}
	a:hover{
		color:$color-brown;
	}
}


#second-section{
	background-color:$color-brown-uno;
	border-top: 2px solid $color-brown;
	
	.espacio-second{
		padding: 3% 0;
	}
	.img-second{
	border: 8px solid $color-brown-detils;
	}
	.text-second{
		padding: 1%;
	}
}

#third-section{
	background-color: $color-grey;
	.espacio-third{
		padding: 3% 0;
	}
	h2{
		color: $color-orange;
	}
	.fa-leaf{
		color: $color-brown;
	}
}

#four-section{
	background-color: $color-brown-dos;

	h2, p{
		color: $color-brown-uno;
	}
	.espacio-four{
		padding: 3%;
	}
	.img-four{
		padding: 3%;
	}
}

#five-section{
	background-color: $color-brown;
	color: $color-brown-uno;
	.espacio-five{
		padding: 3% 0;
	}
	h3{
		font-size: 16px;
	}
	p{
		font-size: 12px;
	}
	.img-footer{
		border: 5px solid $color-orange;
		background-color: $color-brown-detils;
	}
	.comillas{
		color: $color-orange;
	}
	.linea{
		color: $color-brown-detils;
	}

}